<div class="container">
  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
      <h2>Въпроси, които нашите клиенти често ни задават:</h2>
      <div class="row">
        <div class="col-md-12 prime">
          <h5> Какъв е срока за доставка, на поръчания от мен продукт? </h5>
          <div class="col-md-10  prime2">
            <h6>Всички поръчани продукти от нашия онлайн магазин се изпращат с куриерска фирма „Еконт“. Поръчките приети до 17ч.
              се доставят на следващия работен ден. Ако поръчката е до офис на фирма „Еконт“ на следващия работен ден след
              9ч. може да посетите офиса, ако е до адрес ще Ви бъде доставена между 9 и 14.30ч., като куриерите ще ви се
              обадят предварително на телефона посочен в поръчката.
              <br> Поръчките направени Петък и Събота се доставят в Понеделник, а тези направени в Неделя се доставят във Вторник.
            </h6>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-md-12 prime">
          <h5> Как става заплащането на продуктите от сайта? </h5>
          <div class="col-md-10  prime2">
            <h6>
              Всяка поръчка се изпраща с опцията Наложен Платеж. Това позволява на потребителите да заплатят продукта в момента на получаването
              му. Заплащането става на куриера! Това е най-сигурният начин за разплащане използван в България.
              <br>
              <br> Обръщаме Ви внимание, че всяка поръчка се изпраща с опция преглед. Т.е. преди да заплатите на Вашата поръчка,
              може да отворите съдържанието на торбичката на еконт и да се уверите, че всичко е наред и след това да заплатите
              сумата
            </h6>
          </div>
        </div>
      </div>
      

      <div class="row">
          <div class="col-md-12 prime">
            <h5> Издавате ли финансов документ – фискален бон ? </h5>
            <div class="col-md-10  prime2">
              <h6>
                  Да! Всяка една поръчка направена от нашия онлайн магазин се изпраща с фискален бон (касова бележка). Ние спазваме законите на Република България и заплащаме всички данъци произтичащи от нашата дейност, затова всеки продукт е придружени с фискален бон.
              </h6>
            </div>
          </div>
        </div>
    

          <div class="row">
        <div class="col-md-12 prime">
          <h5> Необходимо ли е да се регистрирам, за да направя поръчка ?</h5>
          <div class="col-md-10  prime2">
            <h6>
                НЕ, не е необходимо! В нашата онлайн платформа е достъпна поръчка без да се регистрирате, като е необходимо да попълните формата за Бърза Поръчка на сайта. Също така може да направите поръчка по телефона. Обръщаме Ви внимание, че е необходимо да се запознаете с общите условия на сайта преди да направите поръчка. 

            </h6>
          </div>
        </div>
      </div>

          <div class="row">
        <div class="col-md-12 prime">
          <h5>Продавате ли Лекарства ?</h5>
          <div class="col-md-10  prime2">
            <h6>
                НЕ, нашата платформа предлага единствено хранителни добавки и козметични продукти. 
            </h6>
          </div>
        </div>
      </div>

      <div class="row">
          <div class="col-md-12 prime">
            <h5>Какъв е произхода на продуктите, които предлагате ?</h5>
            <div class="col-md-10  prime2">
              <h6>
                  В нашия онлайн магазин може да намерите разнообразни продукти с различни държави на произход. На страницата на всеки продукт ясно е обявен държавата, в която е произведен продукта. Всички предлагани от нас продукти са предварително проверени, дали отговарят на условията за продажба в България! 
               </h6>
            </div>
          </div>
        </div>

        <div class="row">
            <div class="col-md-12 prime">
              <h5>Мога ли да откажа поръчка ?</h5>
              <div class="col-md-10  prime2">
                <h6>
                    Разбира се, всяка направена от нас поръчка може да бъде отказана, без да възникнат каквито и да финансови щети за Вас. Това което е нужно е да се обадите на телефона посочен за връзка. В случай, че Вашата поръчка е вече изпратена, на следващия ден може да откажете продукта и на куриера отново без да възникне финансова щета за вас!   
                </h6>
              </div>
            </div>
          </div>

          <div class="row">
              <div class="col-md-12 prime">
                <h5>Установих разминаване в направената от мен поръчка и това което ми доставихте ?</h5>
                <div class="col-md-10  prime2">
                  <h6>
                      Изключително важно е да се възползвате от опцията преглед, преди да заплатите дължимата сума. Опцията преглед е да се уверите, че вашата поръчка е изпълнена коректно.  В случай на липса на даден продукт, рекламацията се завежда от куриера, пред който е направен прегледа. Той се явява вещо лице, което удостоверява истинността на липсата на даден продукт. Липси или разминавания в поръчаните продукти или тяхното количество установи в по-късен етап представляват трудност за установяването от наша страна. Все пак ако установите нередност не се колебайте да се свържете с нас по най-удобния за Вас начин, за да можем да сме си взаимно полезни  
                  </h6>
                </div>
              </div>
            </div>

            <div class="row">
                <div class="col-md-12 prime">
                  <h5>Мога ли да направя поръчка по телефона ?</h5>
                  <div class="col-md-10  prime2">
                    <h6>
                        Да! Може да запаметите нашия телефон и в случай желание за поръчка може да ни се обадите в работно време, а нашите оператори ще ви съдействат.
                    </h6>
                  </div>
                </div>
              </div>
              <div class="row">
                  <div class="col-md-12 prime">
                    <h5>Защо продукта, който искам да закупя не е наличен ?</h5>
                    <div class="col-md-10  prime2">
                      <h6>
                          Нашия онлайн магазин съхранява  част от предлаганите продукти на склад. След изчерпването им се прави нова заявка. Ако в дадения момент продукта е бил изчерпан, означава че все още не сме получили ново зареждане. Стараем се да поддържаме всички наши продукти в наличност, но понякога доставките се забавят. Може да се информирате, кога отново ще имаме наличен даден продукт на телефона за връзка. 
                      </h6>
                    </div>
                  </div>
                </div>
                <div class="row">
                    <div class="col-md-12 prime">
                      <h5>Не намерих отговор на моя въпрос, къде мога да го задам ?</h5>
                      <div class="col-md-10  prime2">
                        <h6>
                            Секцията за въпроси и отговори ще продължава да се развива. В нея публикуваме най-често задаваните ни въпроси или тези, които смятаме, че ще са в полза на нашите потребители. За съжаление, няма как да обхванем всички казуси. Въпреки това може да зададете Вашият въпрос на нашите оператори по телефона, да ни ги изпратите на електронната поща или да ни пишете в контактната форма. Нашите служители с радост ще отговорят на въпросите, които са възникнали, а в случай, че въпроса се задава често ще бъде публикуван и в тази секция от нашия сайт!
                        </h6>
                      </div>
                    </div>
                  </div>

    </div>
    <div class="col-md-1">
    </div>

  </div>

</div>