<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="glyphicon glyphicon-bookmark"></span> Административен панел</h3>
                </div>
                <div class="panel-body">  
                    <div class="row">

                            <div class="col-xs-12 col-md-12">
                                <table class="table">
                                    <thead>
                                      <tr>
                                        <th>Заглавие</th>
                                        <th>Подател</th>
                                        <th>Текст</th>
                                        <th>Телефон</th>
                                        <th>E-mail</th>
                                        <th>действие</th>
                                      </tr>
                                    </thead>
    
                                    <tbody>
                                     
                                      <tr *ngFor="let msg of msgs" [class]="msg.isActive">
                                        <td>{{msg.title}}</td>
                                        <td>
                                            {{msg.name}}    
                                        </td>
                                        <td>
                                            {{msg.msg}}    
                                        </td>
                                        <td>
                                            {{msg.phone}}    
                                        </td>
                                        <td>
                                            {{msg.email}}
                                        </td>
                                        <td>
                                          <button [id]="msg._id" (click)="remove($event)">Изтрий</button>
                                          <button [id]="msg._id" (click)="setRedMsg($event)" *ngIf="(msg.isActive == 'true')">Прочетено</button>
                                          <button [id]="msg._id" (click)="unSetRedMsg($event)" *ngIf="(msg.isActive == 'false')">Не Прочетено</button>

                                        </td>
                                      </tr>      
                                   </tbody>
                                  </table>
                            </div>
                        </div>
                    <div (click)="back()" class="btn btn-danger btn-lg btn-block" role="button">Отказване</div>
                </div>
            </div>
        </div>
    </div>
  </div>