<div class="container">
  <div class="row">
    <div class="col-md-12 col-lg-12">
      Онлайн Магазин Красота и Здраве, изпраща всички поръчки по фирма Еконт с опцията Наложен Платеж. 
      При тази опция цялата сума на Поръчката се заялаща на куриерите в момента на получаване на поръчката.
      Всяка поръчка идва с опция преглед. Преди да се заплати сумата може да бъде отворено съдържанието на плика на еконт,
      да се провери дали са точно поръчаните продукти и след това да се заплати сумата. <br><br>
      
      Всяка поръчка идва с фискален бон (касова бележка), която е поставена на кутията на един от поръчани продукти.
    </div>
  </div>
</div>