<div class="container">
  <div class="row">
    <div class="col-md-12 col-lg-12">
   
      Доставката се извършва с куриерска фирма еконт в рамките на 3 работни дена. Към цената на продукта се добавя и цена за доставка,
      която автоматично се прибавя при добавянето на продукт в кошницата или при използването на опцията за бърза поръкча.
      При поръчка по телефона, оператора ще ви разясни цената на доставката.
    </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-lg-3"></div>
      <div class="col-md-2 col-lg-2">Ден на поръчката:</div>
      <div class="col-md-2 col-lg-2">Ден на доставка:</div>
  </div>


    <div class="row">
      <div class="col-md-3 col-lg-3"></div>
      <div class="col-md-2 col-lg-2">
        Понеделник до 17.20ч
      </div>
      <div class="col-md-2 col-lg-2">
        Вторник
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 col-lg-3"></div>
      <div class="col-md-2 col-lg-2">
        Вторник до 17.20ч
      </div>
      <div class="col-md-2 col-lg-2">
        Сряда
      </div>
    </div>


    <div class="row">
      <div class="col-md-3 col-lg-3"></div>
      <div class="col-md-2 col-lg-2">
        Сряда до 17.20ч
      </div>
      <div class="col-md-2 col-lg-2">
        Четвъртък
      </div>
    </div>


    <div class="row">
      <div class="col-md-3 col-lg-3"></div>
      <div class="col-md-2 col-lg-2">
        Четвъртък до 17.20ч
      </div>
      <div class="col-md-2 col-lg-2">
        Петък
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 col-lg-3"></div>
      <div class="col-md-2 col-lg-2">
        Петък до 17.20ч
      </div>
      <div class="col-md-3 col-lg-3">
        Събота от офис на фирма еконт до 13ч.
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 col-lg-3"></div>
      <div class="col-md-2 col-lg-2">
        Събота до 12.20ч
      </div>
      <div class="col-md-2 col-lg-2">
        Понеделник
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 col-lg-3"></div>
      <div class="col-md-2 col-lg-2">
        Неделя
      </div>
      <div class="col-md-2 col-lg-2">
        Вторник
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 col-lg-12">
        Може да следите движението на Вашата пратка в реално време на началната страница на нашия сайт в секция 
        пролседи пратка. <br><br>
        По време на официални празници е възможно разминава в графика!
      </div>
    </div>
  </div>
