<div class="container">
    <div class="col-md-5 prime">
      <a [routerLink]="['bmi']">
      <img src="./assets/imges/bmi.jpg">
      <h2>Калкулатор за мазнини в тялото</h2>
      <p>Body Mass Index се използва за изчисление мазнините в организма (при възрастните индивиди). 
        Този индекс се изпозлва често от професионални диетолози и спортисти. Изчислете безплатно вашият
        БМИ.
      </p>
      </a>
    </div>
    <div class="col-md-1">

    </div>
    <div class="col-md-5 prime">
        <a [routerLink]="['calorii']">
        <img src="./assets/imges/calc-calori.jpg">
        <h2>Калкулатор за Калории</h2>
        <p>Искате ли да знаете точно от колко калории имате нужда на ден ? Този калколатор ще ви помогне
          лесно и точно да изчислите ежедневните нужди от енергия на вашето тяло!
        </p>
        </a>
      </div>
    </div>