<div class="container">
    <div class="col-md-3"></div>
  <div class="col-md-6 prime ">
    <div class="alert-success">
      <h2>Вашата поръчка е приета успешно</h2>
      <h3>Очаквайте доставка в рамките на 3 работни дена!</h3>
      <h3>Куриерите на фирма "Еконт" ще Ви се обадят предварително в деня на доставката, на посоченият в регистрацията телефонен номер!</h3>
      <h3>Може да следите движението на Вашата пратка, на началната ни страница в полето <strong>"Прослди Пратка"</strong></h3>
   
      
    </div>
  </div>
</div>